---
import Icon from '../user-components/Icon.astro';
import type { Props } from '../props';

const { editUrl } = Astro.props;
---
<div class="bbbbbppp">
	{
		editUrl && (
			<button id="ddddjx" class="sl-flex">
				<Icon name="pencil" size="1.2em" />
				{Astro.locals.t('page.editLink')}
			</button>
		)
	}
		<div class="popppP">
			<div class="poppp">
				<p style="">在 github 編輯此頁</p>
				<hr style="margin-top: 8px; margin-bottom: 8px;"/>
				<a href="/其他文件/編輯說明/" class="sl-flex" target="_blank">
					<Icon name="rocket" size="1.2em" />
					編輯說明
				</a>
				<a href={editUrl} class="sl-flex" target="_blank">
					<Icon name="pencil" size="1.2em" />
					前往編輯
				</a>
			</div>
		</div>
</div>

<script is:inline>
	const btn =document.querySelector("#ddddjx")
	const pop =document.querySelector(".poppp")
	
	btn?.addEventListener("click",()=>{
		pop?.classList.toggle("show")
	})
	
	document.addEventListener("click",(e)=>{
		console.log(e.target)
		//@ts-ignore
		if (e.target !== pop&& e.target.parentNode !== pop && e.target !== btn) {
			pop?.classList.remove("show")
		}
	})

</script>

<style>
	.poppp{
		display: none;
		/* background: #f6f7f9 !important;; */
		background: var(--sl-color-text-accent) !important;
		border-radius: 10px;
		width: 300px;
		height: 130px;
		z-index: 50;
		padding: 10px;
		color: var(--sl-color-text-invert)!important;
		box-shadow: 0px 2px 5px #333333;
	}
	
	.poppp *{
		color: var(--sl-color-text-invert)!important;
		margin-bottom: 4px;
		margin-top: 4px;
	}

	.poppp.show {
		display: block;
	}

	/* .bbbbbppp:focus-within .poppp {
		display: block;
	}

	.popppP:hover .poppp{
		display: block;
	} */

	.popppP{
		position: fixed;
		display: flex;
		justify-items: center;
		justify-content: center;
		z-index: 50;
		top: 40%;
		left: 0;
		right:0;
	}
	button{
		gap: 0.5rem;
		align-items: center;
		text-decoration: none;
		color: var(--sl-color-gray-3);
		border-radius: 5px;
		border: none;
	}
	button:hover {
		color: var(--sl-color-white);
	}
	
	a {
		gap: 0.5rem;
		align-items: center;
		text-decoration: none;
		color: var(--sl-color-gray-3);
	}
	a:hover {
		color: var(--sl-color-white);
	}
</style>
